<launch>

    <arg name="bag_file" default=""/>
    <arg name="lidar_topic" default="/ouster/points"/>
    <arg name="imu_topic" default="/imu"/>

    <node pkg="lidar_imu_calib" type="calib_exR_lidar2imu_node" name="calib_exR_lidar2imu_node" output="screen">
        <param name="/lidar_topic" value="$(arg lidar_topic)"/>
        <param name="/imu_topic" value="$(arg imu_topic)"/>
        <param name="/bag_file" value="$(arg bag_file)"/>
    </node>
</launch>
